header {
    padding: 2em 0 0 0;
    background: linear-gradient(rgb(0, 0, 0, 0.7), transparent);
}

nav {
    height: 5vh;
    display: flex;
    justify-content:center;
}

.search-form input {
    width: 55vw;
    height: 5vh;
    padding-left: 1.2vh;
    font-size: 2.3vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: rgb(196, 196, 196);
}

.search-form input:hover {
    cursor: pointer;
}

.search-form input::placeholder {
    color: rgb(180, 187, 192);
}

.search-form button {
    background-color: transparent;
    overflow: hidden;
    color: rgb(196, 196, 196);
    font-size: 3vh;
    border: none;
}

.search-form button:hover {
    color: rgb(130, 129, 129);
    cursor: pointer;
}