header {
    padding: 2em 0 0 0;
    background: linear-gradient(rgb(0, 0, 0, 0.7), transparent);
}

nav {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 55vw;
    height: 5vh;
    padding-left: 1.5vh;
    font-size: 2.7vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: rgb(196, 196, 196);
}

.search-form input:hover {
    cursor: pointer;
}

.search-form input::placeholder {
    color: rgb(180, 187, 192);
}

.search-suggestions {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.suggestion {
    padding: 1.5vh;
    font-size: 2.7vh;
    background-color: rgb(13, 18, 22);
    border-radius: 5px;
    color: rgb(196, 196, 196);
}

.suggestion:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}